# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.factorypath
*.launch
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
.externalToolBuilders/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.jar
!gradle-wrapper.jar
application-local.yml

# Uploads
uploads/

# Environment
.env
*.env
